.chart{
    flex: 5;
    -webkit-box-shadow: 2px 4px 10px 1px rgb(0, 0, 0, 0.47);
   box-shadow: 2px 4px 10px 1px rgb(201, 201, 201, 0.47);
   color: gray;
//    height: 410px;
//    width: 300px;
   .title{
    margin-bottom: 20px;
   }
     
}